@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');
body {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 16px;
    background-color: #f1f1f1;
    line-height: 1.6;
}

.help-block {
    font-size: 12px;
    color: gray;
}

label {
    padding-top: 1em;
    font-weight: 500;
}

#main-form {
    padding: 2em 2em 2em 2em;
    background-color: #ffffff;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    box-shadow: 0px 0px 15px -14px;
}

.form-control:hover {
    background-color: #f1f1f1;
    width: 98%;
    transition-delay: 1s;
}

.form-control {
    border-width: 0px;
    font-family: 'JetBrains Mono', monospace;
    border-color: transparent;
    background-color: #fafafa;
    border-radius: 10px;
}

.form-control:focus {
    border-width: 0px;
    background-color: #f1f1f1;
    box-shadow: 0px 0px 0px !important;
}

.badge:hover {
    background-color: #f1f1f1;
}

footer {
    font-size: 12px;
}

p {
    margin: 0px;
}